.container {
  width: 100vw;
}

.header {
  width: 100vw;
  background-color: #3fbfff;
  height: 50px;
}

.logo1 {
  width: 150px;
  margin-top: 20px;
  margin-left: 20px;
}

.kv-orange {
  background: url("https://i.ibb.co/hRzDJxSR/image-header.jpg");
  width: 100vw;
  height: 500px;
  object-fit: cover;
  background-position: bottom;
}

/* 隱藏 checkbox */
.menu-checkbox {
  display: none;
}

.menu {
  display: none;
}

.menu-icon {
  display: flex;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
  width: 30px;
  position: absolute;
  top: 25px;
  right:20px;
  z-index: 100;
}

.bar {
  width: 30px;
  height: 4px;
  background-color: white;
  transition: 0.3s;
}

.menu-checkbox:checked~.menu {
  position: absolute;
    top: 80px;
    left: 35px;
    display: block;
    z-index: 99;
    background-color: white;
    color: #3fbfff;
    width: 320px;
    height: 160px;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

li {
  list-style-type: none;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  list-style-type: none;
  color: #3fbfff;
}



img {
  width: 100vw;
}

/*KV-parts*/
.kv-orange {
  position: relative;
  vertical-align: bottom;
}

.kv-text {
  position: absolute;
  z-index: 5;
  top: 100px;
  text-align: center;
  color: white;
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
  font-size: 3rem;
  letter-spacing: .2rem;
}

.kv-text-arrow {
  position: absolute;
  z-index: 5;
  top: 190px;
  left: 145px;
  text-align: center;
  color: white;
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
  font-size: 6rem;
  letter-spacing: .2rem;
}

.egg-text,
.glass-text {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.egg-photo {
  background-image: url("https://i.ibb.co/DgwTjg29/image-transform.jpg");
  width: 100vw;
  height: 300px;
  background-position: center;
  background-size: contain;
}

.glass-photo {
  background-image: url("https://i.ibb.co/G3MXwZgZ/image-stand-out.jpg");
  width: 100vw;
  height: 300px;
  background-position: center;
  background-size: contain;
}

.cherry-area {
  background-image: url("https://i.ibb.co/xqj1gYj2/image-graphic-design.jpg");
  width: 100vw;
  height: 600px;
  background-position: center;
  background-size: cover;
}

.orange-area {
  background-image: url("https://i.ibb.co/yBNjhRq3/image-photography.jpg");
  width: 100vw;
  height: 600px;
  background-position: center;
  background-size: cover;
}

.egg-text-1,
.glass-text-1 {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8rem;
  text-align: center;
  margin-top: 70px;
}

.egg-text-2,
.glass-text-2 {
  text-align: center;
  font-family: "Barlow", serif;
  font-weight: 300;
  font-style: normal;
  margin-right: 15px;
  margin-left: 15px;
  line-height: 1.5;
}

.egg-text-3,
.glass-text-3 {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
  margin-top: 20px;
  margin-bottom: 50px;
  text-decoration: underline;
  text-decoration-color: yellow;
  text-decoration-thickness: 5px;
  text-underline-offset: 0px;
}


.cherry-area {
  position: relative;
}

.cherry-img,
.orange-img,
.egg-photo {
  vertical-align: bottom;
}

.cherry-text-1 {
  position: absolute;
  top: 370px;
  left: 100px;
  font-size: 1.5rem;
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}

.cherry-text-2 {
  position: absolute;
  top: 430px;
  font-size: 1rem;
  text-align: center;
  font-family: "Barlow", serif;
  font-weight: 300;
  font-style: normal;
  line-height: 1.5;
  margin-bottom: 0px;
  margin-right: 15px;
  margin-left: 15px;
}

.orange-area {
  position: relative;
}

.orange-text-1 {
  position: absolute;
  top: 370px;
  left: 120px;
  font-size: 1.5rem;
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}

.orange-text-2 {
  position: absolute;
  top: 430px;
  font-size: 1rem;
  text-align: center;
  font-family: "Barlow", serif;
  font-weight: 300;
  font-style: normal;
  line-height: 1.5;
  margin-bottom: 0px;
  margin-right: 15px;
  margin-left: 15px;
}

.client-title,
.client-1,
.client-2,
.client-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.client-1-photo,
.client-2-photo,
.client-3-photo {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.client-title {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
  letter-spacing: .4rem;
  margin-top: 30px;
  margin-bottom: 30px;
}

.client-1-word,
.client-2-word,
.client-3-word,
.client-1-position,
.client-2-position,
.client-3-position {
  text-align: center;
  font-family: "Barlow", serif;
  font-weight: 300;
  font-style: normal;
}

.client-1-word,
.client-2-word,
.client-3-word {
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: 20px;
  margin-right: 20px;
  line-height: 1.5;
}

.client-1-name,
.client-2-name,
.client-3-name {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}

.client-1-position,
.client-2-position,
.client-3-position {
  font-size: 0.7rem;
  margin-top: 5px;
  margin-bottom: 30px;
}

.four-grid {
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.four-grid-area-milk {
  grid-area: milk;
  width: 50vw;
  background-image: url("https://i.ibb.co/4ZSxryYt/image-gallery-milkbottles.jpg");
  height: 187.5px;
  background-position: center;
  background-size: cover;
}

.four-grid-area-orange {
  grid-area: orange;
  width: 50vw;
  background-image: url("https://i.ibb.co/qqTgXYn/image-gallery-orange.jpg");
  height: 187.5px;
  background-position: center;
  background-size: cover;
}

.four-grid-area-icecream {
  grid-area: icecream;
  width: 50vw;
  background-image: url("https://i.ibb.co/HLmZq9Yk/image-gallery-cone.jpg");
  height: 187.5px;
  background-position: center;
  background-size: cover;
}

.four-grid-area-whitebox {
  grid-area: whitebox;
  width: 50vw;
  background-image: url("https://i.ibb.co/B5P7qSz5/image-gallery-sugar-cubes.jpg");
  height: 187.5px;
  background-position: center;
  background-size: cover;
}

.four-grid-area {
  width: 100vw;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    "milk orange"
    "icecream whitebox"
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(168, 34%, 41%);
  height: 200px;

}


.footer-tab a {
  color: hsl(167, 40%, 24%);
  text-decoration: none;
  text-align: center;
  font-family: "Barlow", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 0.9rem;
}

.egg-photo,
.glass-photo {
  display: block;
  margin: 0;
  padding: 0;
}

.footer {
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo2 {
  width: 150px
}

.footer-title {
  margin-top: 130px;
}

.footer-tab,
.footer-link {
  margin-top: 30px;
}

.footer-tab a{
  padding-right: 15px;
}

.footer-link-fb,
.footer-link-IG,
.footer-link-Twitter,
.footer-link-pinterest {
  width: 30px;
  height: 30px;
  padding-right: 5px;
}


@media screen and (min-width: 900px) {
  .logo1{
    width: 150px;
    margin-top: 20px;
    margin-left: 20px;
  }
  .kv-orange {
    grid-area: kv
  }

  .egg-photo {
    grid-area: egg-photo
  }

  .egg-text {
    grid-area: egg-text
  }

  .glass-photo {
    grid-area: glass-photo
  }

  .glass-text {
    grid-area: glass-text
  }

  .cherry-area {
    grid-area: cherry-area
  }

  .orange-area {
    grid-area: orange-area
  }

  .client-area {
    grid-area: client-area
  }

  .four-grid {
    grid-area: four-grid
  }

  .four-grid-area-milk {
    grid-area: four-grid-area-milk
  }

  .four-grid-area-orange {
    grid-area: four-grid-area-orange
  }

  .four-grid-area-icecream {
    grid-area: four-grid-area-icecream
  }

  .four-grid-area-whitebox {
    grid-area: four-grid-area-whitebox
  }

  .footer {
    grid-area: footer
  }

  .header {
    grid-area: header
  }

  .client-title {
    grid-area: client-title
  }

  .container {
    width: 100vw;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 50px 480px 410px 410px 540px 200px 350px 440px 380px;
    grid-template-areas:
      "header header header header"
      "kv kv kv kv"
      "egg-text egg-text egg-photo egg-photo"
      "glass-photo glass-photo glass-text glass-text"
      "cherry-area cherry-area orange-area orange-area"
      "client-title client-title client-title client-title"
      "client-area client-area client-area client-area"
      "four-grid four-grid four-grid four-grid"
      "footer footer footer footer"
  }

  .menu-icon {
    display: none;
  }

  .menu {
    display: block;
    display: flex;
    flex-direction: row;
    color: white;
    position: relative;
    left: 1000px;
    top: 0px;
    position: absolute;
  }

  ul {
    display: block;
    display: flex;
    flex-direction: row;
    color: white;
  }

  a {
    color: white;
  }

  .header {
    width: 100vw;
  }

  .kv-orange {
    width: 100vw;
    height: 480px;
    background-image: url("https://i.ibb.co/nM0FFkZS/image-header.jpg");
    object-fit: cover;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .kv-text {
    position: relative;
    left: 0px;
    font-size: 4.3rem;
  }

  .kv-text-arrow {
    position: relative;
    left: 0px;
    top: 15px;
  }

  .egg-photo {
    width: 50vw;
    background-position: center;
    height: 410px;
    background-repeat: no-repeat;
    background-image: url("https://i.ibb.co/2YKdmGsq/image-transform.jpg");
    background-size: cover;
  }

  .glass-photo {
    background-image: url("https://i.ibb.co/cKjBdYc6/image-stand-out.jpg");
    width: 50vw;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    height: 410px;
  }

  .egg-text,
  .glass-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
  }

  .egg-text-1,
  .egg-text-2,
  .egg-text-3,
  .glass-text-1,
  .glass-text-2,
  .glass-text-3 {
    width: 340px;
    text-align: left;
  }

  .cherry-area {
    background-image: url("https://i.ibb.co/FPHV4Wq/image-graphic-design.jpg");
    width: 50vw;
    background-position: top;
    background-size: cover;
    height: 540px;
    background-repeat: no-repeat;

  }

  .orange-area {
    background-image: url("https://i.ibb.co/TBP6hmWS/image-photography.jpg");
    width: 50vw;
    background-position: top;
    height: 540px;
    background-repeat: no-repeat;
    background-size: cover;
      /* 精確置中 */
  }



  .cherry-text-1,
  .orange-text-1,
  .cherry-text-2,
  .orange-text-2 {
    display: flex;
    justify-content: center;
    width: 100%;
    left:auto;
  }



  .client-area {
    display: flex;
    justify-content: center;
  }

  .client-title {
    font-size: 2rem;
    width: 100vw;
    height: 200px;
  }

  .client-1,
  .client-2,
  .client-3 {
    width: 350px;
  }

  .four-grid {
    width: 100vw;
    display: flex;
    flex-direction: row;
  }

  .four-grid-area-milk {
    width: 25vw;
    height: 440px;
    background-image: url("https://i.ibb.co/Z64mmDFc/image-gallery-milkbottles.jpg");
    background-position: center;
    object-fit: cover;
  }


  .four-grid-area-orange {
    width: 25vw;
    height: 440px;
    background-image: url("https://i.ibb.co/xbfDLTQ/image-gallery-orange.jpg");
    background-position: center;
    object-fit: cover;
  }

  .four-grid-area-icecream {
    width: 25vw;
    height: 440px;
    background-image: url("https://i.ibb.co/CKP8fKXg/image-gallery-cone.jpg");
    background-position: center;
    object-fit: cover;
  }

  .four-grid-area-whitebox {
    width: 25vw;
    height: 440px;
    background-image: url("https://i.ibb.co/bR1HybDs/image-gallery-sugarcubes.jpg");
    background-position: center;
    object-fit: cover;
  }

  .footer {
    width: 100vw;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .logo2{
    width:150px

  }

  .footer-title{
    margin-top:130px;
  }

  .footer-tab,
  .footer-link{
    margin-top: 30px;
  }

  .footer-link-fb,
  .footer-link-IG,
  .footer-link-Twitter,
  .footer-link-pinterest{
    width: 30px;
    height: 30px;
    padding-right: 10px;
  }

  .menuhref{
    padding-right: 40px;
  }
}